
.logoheight {height: 64px; }
.logocolor{background-color: rgb(251,229,171);}
.footercolor{background-color: rgb(251,229,171);}

.fontas{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.mapouter{text-align:right;height:100px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:100px;width:400px;}
body{background-color: rgb(251,229,171);}
h5{color: #f9fdf9;}
#black {color: #000000;}
.padding {padding: 50px;}
.no-margin {margin: 0 !important;}
.top-margin {margin-top: 20px;}

/*Dainiaus dalies css pabaiga*/


/*Dainiaus dalies css pradzia*/
.naujienos{
	margin: 10px;	
}

.naujienosFoto{
	padding: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	}

.naujienosText{
	margin-top: 20px;

}

.mygtukas{
	margin-top: 40px;
    
}

.naujienuPavadinimai{
	font-style: italic;
	font-weight: bold;
}

